*.pyc
*.pyo
*.log
*.out
*.tmp
*.cache
__pycache__/
*.swp
*.db
*.h5
*.txt
abp1250model*
PulseDB_MIMIC/*
PulseDB_Vital/*
personalized_training_data/*
personalized_training_data_MIMIC/*
processed_data/*
training_data*/*

pulse_database
pulsedb_annotations
*.sqlite3
*.sql
*npy

PulseDB2_0/*
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store

# Python 虛擬環境資料夾
venv/
env/

build/
dist/
*.egg-info/

# 你的資料檔 (若你有其他大型資料 / 機敏檔案也可在此新增)
data/
*.h5
*.csv
.conda/ 